@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

section[epub|type~="dedication"] p{
	line-height: 0.7;
}

section[epub|type~="dedication"] b{
	font-variant: small-caps;
}

section[epub|type~="dedication"] .to{
	font-size: 1.4em;
	text-transform: uppercase;
}

section[epub|type~="dedication"] .all{
	font-size: 1.3em;
	font-variant: small-caps;
}

@supports(display: flex){
	section[epub|type~="dedication"] p{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

blockquote[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

blockquote[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

blockquote[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em !important;
	text-indent: -1em !important;
}
